
body {
    display: grid;
    grid-template-columns: 30fr 40fr 30fr;
    > * {
        border: 1px solid black;
    }
    .skip-link {
        grid-column: 1/4;
    }
    
    nav {
        grid-column: 2/4;
    }
    
    .page-footer {
        grid-column: 1/4;
    }
    
    main {
        grid-column: 1/4;
    }
}

main > div.container {
    display: grid;
    grid-template-columns: 30fr 40fr 30fr;
    > * {
        border: 1px solid black;
    }
    #about {
        grid-column: 1/3;
    }
    
    #contribute {
        grid-column: 1/4;
    }
}

#about {
    display: grid;
    grid-template-columns: 40fr 60fr;
    > * {
        border: 1px solid black;
    }
}
#contribute {
    display: grid;
    grid-template-columns: 30fr 40fr 30fr;
    > * {
        border: 1px solid black;
    }
}