nav {
<<<<<<< HEAD
    background-image: url('./mobile nav background.png');
    background-size: cover;
    margin: 0 auto;
    width: 50%;
    box-shadow: 4px 4px 3px;
}

@media only screen and (min-width: 1100px) {
    nav {
        background-image: url('./sticky note.png');
        width: 100%;
    }
}
=======
    background-image: url('./sticky note.png');
    margin: 0 auto;
    width: 178px;
    height: 178px;
    box-shadow: 3px 3px 5px black;
}
>>>>>>> 26d4eafdf29b39ed928cae76c60385c7254cf464
