:root {
    --animation-dur: 1.5s;
}


main {
    p {
        border: 1px solid black;
        border-radius: 50%;
        padding: var(--space-xl) var(--space-s);
        text-align: center;
        width: 60%;
        margin-left: var(--space-2xs);
        margin-right: auto;
    }
    p:nth-child(odd) {
        margin-left: auto;
        margin-right: var(--space-2xs);
    }
    blockquote {
        margin: 0;
    }
    .container blockquote p {
        margin-left: var(--space-2xs);
        margin-top: calc(var(--space-l) * -1);
        margin-right: auto;
    }
    h2, h3 {
        text-align: center;
    }
    p:not(:first-of-type) {
        margin-top: calc(var(--space-l) * -1);
    }
    #guidelines {
        p:nth-child(2n+4) {
            margin-left: auto;
            margin-right: var(--space-2xs);
        }
        p:nth-child(odd) {
            margin-right: auto;
            margin-left: var(--space-2xs);
        }
        h3 {
            margin-top: calc(var(--space-l) * -1);
            margin-bottom: var(--space-2xs);
        }
    }
    ul{
        columns: 2;
        border: 1px solid black;
        border-radius: 50%;
        padding: var(--space-xl) var(--space-s);
        text-align: center;
        list-style-type: none;
        width: 60%;
        margin-left: var(--space-2xs);
        margin-top: calc(var(--space-l) * -1);
    }

    ol{
        border: 1px solid black;
        border-radius: 50%;
        padding: var(--space-l) var(--space-xl);
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
}

aside {
    h2, h4 {
        text-align: center;
    }

    ul{
        border: 1px solid black;
        border-radius: 50%;
        padding: var(--space-xl) var(--space-s);
        text-align: center;
        list-style-type: none;
        margin: 0 auto;
        width: 60%;
    }
}

@media only screen and (min-width: 1100px) {
    main {
        div.container p{
            visibility: hidden;
            position: relative;
            border-color: transparent;
            height: 1em;
            width: 3em;
            padding: 0;
            margin: 0;
            padding-bottom: var(--space-s);
            margin-left: var(--space-2xs);
            margin-right: var(--space-2xs);
        }

        div.container p::before {
            content: '...';
            position: absolute;
            top: 0;
            display: inline-block;
            margin: 0 auto;
            width: 50px;
            height: 24px;
            border: 1px solid black;
            border-radius: 50%;
            visibility: visible;
        }


        div.container article p:hover {
            animation-name: wholeElement;
            animation-duration: var(--animation-dur);
            visibility: visible;
            height: auto;
            width: auto;
            margin: 0;
            margin-left: var(--space-2xs);
            margin-right: var(--space-2xs);
            padding: var(--space-s);
        }

        div.container p:hover::before {
            animation-name: beforeElement;
            animation-duration: var(--animation-dur);
            width: 100%;
            height: 100%;
            content: '';
        }

        @keyframes beforeElement {
            0% {
                content: '';
                opacity: 1;
                width: 50px;
                height: 24px;
                border: 1px solid black;
                border-radius: 50%;
            }
            90% {
                content: '';
                width: 100%;
                height: 100%;
                opacity: 1;
                border-radius: 50%;
            }
        }

        @keyframes wholeElement {
            0% {
                visibility: hidden;
                height: auto;
                width: auto;
                padding: 0;
                margin: 0;
                padding: var(--space-s);
                padding-bottom: var(--space-s);
                margin-left: var(--space-2xs);
                margin-right: var(--space-2xs);
            }
            90% {
                visibility: hidden;
                height: auto;
                width: auto;
                padding: 0;
                margin: 0;
                padding: var(--space-s);
                padding-bottom: var(--space-s);
                margin-left: var(--space-2xs);
                margin-right: var(--space-2xs);
            }
            91% {
                visibility: visible;
                height: auto;
                width: auto;
                margin: 0;
                margin-left: var(--space-2xs);
                margin-right: var(--space-2xs);
                padding: var(--space-s);
            }
        }

        div.container blockquote p:first-of-type {
            margin-left: var(--space-2xs);
            margin-right: var(--space-2xs);
        }

        div.container blockquote p:first-of-type::before {
            left: 0;
        }

        div.container p:nth-child(odd) {
            margin-left: auto;
            margin-right: var(--space-2xs);
        }

        section.container > p:nth-child(odd)::before {
            right: 0;
        }

        section.container > p:nth-child(even)::before {
            left: 0;
        }

        #guidelines section.container > p:nth-of-type(odd)::before {
            right: initial;
            left: 0;
        }

        #guidelines section.container > p:nth-of-type(even)::before {
            right: 0;
            left: initial;
        }

        ul {
            visibility: hidden;
            position: relative;
            border-color: transparent;
            height: 1em;
            width: 3em;
            padding: 0;
            padding-bottom: var(--space-s);
            margin: 0;
            margin-left: var(--space-2xs);
        }

        ul::before {
            content: '...';
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            margin: 0 auto;
            width: 50px;
            border: 1px solid black;
            border-radius: 50%;
            visibility: visible;
        }

        ul:hover {
            animation-name: wholeElement;
            animation-duration: var(--animation-dur);
            visibility: visible;
            height: auto;
            width: auto;
            margin: 0;
            margin-left: var(--space-2xs);
            margin-right: var(--space-2xs);
            padding: var(--space-s);
        }

        ul:hover::before {
            animation-name: beforeElement;
            animation-duration: var(--animation-dur);
            width: 100%;
            height: 100%;
            content: '';
        }

        ol:hover {
            animation-name: wholeElement;
            animation-duration: var(--animation-dur);
            visibility: visible;
            height: auto;
            width: auto;
            margin: 0;
            margin-left: var(--space-2xs);
            margin-right: var(--space-2xs);
            padding: var(--space-s) var(--space-2xl);
        }

        ol:hover::before {
            animation-name: beforeElement;
            animation-duration: var(--animation-dur);
            width: 100%;
            height: 100%;
            content: '';
        }

        ol {
            list-style-position: inside;
            border-color: transparent;
            visibility: hidden;
            position: relative;
            height: 1em;
            width: 3em;
            padding: 0;
            padding-bottom: var(--space-s);
            margin: 0;
            margin-left: var(--space-2xs);
        }

        ol::before {
            content: '...';
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            margin: 0 auto;
            width: 50px;
            border: 1px solid black;
            border-radius: 50%;
            visibility: visible;
        }

        #guidelines {
            h3 {
                margin: 0;
            }
        }
    }

    aside {
        ul {
            visibility: hidden;
            position: relative;
            border-color: transparent;
            height: 1em;
            width: 3em;
            padding: 0;
            margin: 0;
            margin-left: var(--space-2xs);
            margin-right: var(--space-2xs);
            padding-bottom: var(--space-l);
            margin-left: var(--space-2xs);
        }

        ul::before {
            content: '...';
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            margin: 0 auto;
            width: 50px;
            border: 1px solid black;
            border-radius: 50%;
            visibility: visible;
        }

        ul:hover {
            animation-name: wholeElement;
            animation-duration: var(--animation-dur);
            visibility: visible;
            height: auto;
            width: auto;
            margin: 0;
            margin-left: var(--space-2xs);
            margin-right: var(--space-2xs);
            padding: var(--space-s);
        }

        ul:hover::before {
            animation-name: beforeElement;
            animation-duration: var(--animation-dur);
            content: '';
            width: 100%;
            height: 100%;
        }
    }
}