main {
    p {
        border: 1px solid black;
        border-radius: 50%;
        padding: var(--space-xl) var(--space-s);
        text-align: center;
        width: 60%;
        margin-left: var(--space-2xs);
        margin-right: auto;
    }
    p:nth-child(odd) {
        margin-left: auto;
        margin-right: var(--space-2xs);
    }
    blockquote {
        margin: 0;
    }
    .container blockquote p {
        margin-left: var(--space-2xs);
        margin-top: calc(var(--space-l) * -1);
        margin-right: auto;
    }
    h2, h3 {
        text-align: center;
    }
    p:not(:first-of-type) {
        margin-top: calc(var(--space-l) * -1);
    }
    #guidelines {
        p:nth-child(2n+4) {
            margin-left: auto;
            margin-right: var(--space-2xs);
        }
        p:nth-child(odd) {
            margin-right: auto;
            margin-left: var(--space-2xs);
        }
        h3 {
            margin-top: calc(var(--space-l) * -1);
            margin-bottom: var(--space-2xs);
        }
    }
    ul{
        columns: 2;
        border: 1px solid black;
        border-radius: 50%;
        padding: var(--space-xl) var(--space-s);
        text-align: center;
        list-style-type: none;
        width: 60%;
        margin-left: var(--space-2xs);
        margin-top: calc(var(--space-l) * -1);
    }

    ol{
        border: 1px solid black;
        border-radius: 50%;
        padding: var(--space-l) var(--space-xl);
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
}

aside {
    h2, h4 {
        text-align: center;
    }

    ul{
        border: 1px solid black;
        border-radius: 50%;
        padding: var(--space-xl) var(--space-s);
        text-align: center;
        list-style-type: none;
        margin: 0 auto;
        width: 60%;
    }
}

@media only screen and (min-width: 1100px) {
    main {
        div.container p{
            visibility: hidden;
            height: 1em;
            width: 3em;
            padding: 0;
            margin: 0;
            padding-bottom: var(--space-l);
            margin-left: var(--space-2xs);
        }

        p::before {
            content: '...';
            display: inline-block;
            margin: 0 auto;
            width: 50px;
            border: 1px solid black;
            border-radius: 50%;
            visibility: visible;
        }

        div.container blockquote p:first-of-type {
            margin-left: var(--space-2xs);
            margin-right: auto;
        }

        div.container p:nth-child(odd) {
            margin-left: auto;
            margin-right: var(--space-2xs);
        }

        ul {
            visibility: hidden;
            height: 1em;
            width: 3em;
            padding: 0;
            margin: 0;
            padding-bottom: var(--space-l);
            margin-left: var(--space-2xs);
        }

        ul::before {
            content: '...';
            display: inline-block;
            margin: 0 auto;
            width: 50px;
            border: 1px solid black;
            border-radius: 50%;
            visibility: visible;
        }

        ol {
            visibility: hidden;
            height: 1em;
            width: 3em;
            padding: 0;
            margin: 0 auto;
        }

        ol::before {
            content: '...';
            display: inline-block;
            margin: 0 auto;
            width: 50px;
            border: 1px solid black;
            border-radius: 50%;
            visibility: visible;
        }

        #guidelines {
            h3 {
                margin: 0;
            }
        }
    }

    aside {
        ul {
            visibility: hidden;
            height: 1em;
            width: 3em;
            padding: 0;
            margin: 0;
            padding-bottom: var(--space-l);
            margin-left: var(--space-2xs);
        }

        ul::before {
            content: '...';
            display: inline-block;
            margin: 0 auto;
            width: 50px;
            border: 1px solid black;
            border-radius: 50%;
            visibility: visible;
        }
    }
}