main {
    p {
        border: 1px solid black;
        border-radius: 50%;
        padding: var(--space-xl) var(--space-s);
        text-align: center;
        width: 50%;
        margin-left: var(--space-s);
        margin-right: auto;
    }
    p:nth-child(odd) {
        margin-left: auto;
        margin-right: var(--space-s);
    }
    .container blockquote p {
        margin-left: var(--space-s);
        margin-top: calc(var(--space-2xl) * -1);
        margin-right: auto;
    }
    h2, h3 {
        text-align: center;
    }
    p:not(:first-of-type) {
        margin-top: calc(var(--space-2xl) * -1);
    }
    #guidelines {
        p:nth-child(2n+4) {
            margin-left: auto;
            margin-right: var(--space-s);
        }
        p:nth-child(odd) {
            margin-right: auto;
            margin-left: var(--space-s);
        }
        h3 {
            margin-top: calc(var(--space-l) * -1);
            margin-bottom: var(--space-s);
        }
    }
    ul{
        columns: 2;
        border: 1px solid black;
        border-radius: 50%;
        padding: var(--space-xl) var(--space-s);
        text-align: center;
        list-style-type: none;
        width: 50%;
        margin-left: var(--space-s);
        margin-top: calc(var(--space-l) * -1);
    }
}

@media only screen and (min-width: 1100px) {
    main {
        p{
            visibility: hidden;
            height: 1em;
        }

        p::before {
            content: '...';
            display: inline-block;
            margin: 0 auto;
            width: 50px;
            border: 1px solid black;
            visibility: visible;
        }
    }
}