/* Error: expected "{".
 *   ,
 * 3 |     background-image: url('./mobile nav background.png');
 *   |                                                         ^
 *   '
 *   sass\_nav.scss 3:57   @import
 *   sass\style.scss 13:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \"{\".\a   \2577 \a 3 \2502      background-image: url('./mobile nav background.png');\d\a   \2502                                                          ^\a   \2575 \a   sass\\_nav.scss 3:57   @import\a   sass\\style.scss 13:9  root stylesheet";
}
