
/*
=======
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap"); /*

svg {
  height: 10px;
}

body {
  display: grid;
  grid-template-columns: 30fr 40fr 30fr;
}
body > * {
  border: 1px solid black;
}
body .skip-link {
  grid-column: 1/4;
}
body nav {
  grid-column: 2/4;
}
body .page-footer {
  grid-column: 1/4;
}
body main {
  grid-column: 1/4;
}

main > div.container {
  display: grid;
  grid-template-columns: 30fr 40fr 30fr;
}
main > div.container > * {
  border: 1px solid black;
}
main > div.container #about {
  grid-column: 1/3;
}
main > div.container #contribute {
  grid-column: 1/4;
}

#about {
  display: grid;
  grid-template-columns: 40fr 60fr;
}
#about > * {
  border: 1px solid black;
}

#contribute {
  display: grid;
  grid-template-columns: 30fr 40fr 30fr;
}
#contribute > * {
  border: 1px solid black;
}

/*! 
  * SVGs from Hero Patterns
  * @link http://www.heropatterns.com/
  */

